@media (max-width: 479px){

/*.header .site-logo, .main-content {
  background: green
}*/

.alert{
    font-size: 13px;
}
a.edit-btn{
    display: inline-block !important;
}
.get-create-form {
    width: 100%;
}
.popover-wrapper.right .popover-modal {
    font-size: 13px;
}
.nav-user-profile .nav-user-drop-profile button {
 
    font-size: 12px;
}
.ticket-big-box .box-action button, .staffs-p .box-action button {

    font-size: 12px;
}
.sidebar-menu li.dropdown-active a:after {
    left: -80px;
}
.header .site-logo a {
    padding: 2px 64px;
    width: 100%;
}
.sidebar-menu li a:after {
    left: -80px;
}
.sidebar-menu li.dropdown-active a:after {
    left: -80px;
}
.nav-form {
    width: 270px;
    margin-left: 15px;
}
.main-sidebar, 
.header .site-logo {
    width: 230px;
}
.main-content, .navigation {
    margin-left: 230px;
}
.menu-label {
    padding: 30px 20px 30px 30px;
}
.sidebar-menu li a {
    padding: 20px 20px 20px 25px;
    min-height: 65px;
    max-height: 65px;
    font-size: 13px;
}
.sidebar-menu li.active a {
    padding: 20px 20px 20px 21px;
}
.sidebar-menu li.active a {
    padding: 20px 20px 20px 21px;
}
.sidebar-menu li img {
    margin-right: 15px;
}
.sidebar-menu > li:hover > a {
    padding: 20px 20px 20px 21px;
}
.sidebar-menu li .menu-label {
    padding: 1px 9px;
    margin-left: 8px;
    font-size: 12px;
}
.sidebar-dropdown-menu ul li a {
    padding: 20px 10px 21px 30px;
    font-size: 12px;
    min-height: 60px;
    max-height: 60px;
}
.sidebar-dropdown-menu ul li a i {
    margin-right: 10px;
}
.hide-lg2, .hide-lg3, .hide-lg4, .hide-lg5{
  display: none;
}
.ticket-big-box {
    min-height: auto;
    max-height: inherit;
    height: auto;
}
.ticket-small-box {
    margin-bottom: 30px;
}
.pending-tickets {
    margin-bottom: 5px;
}
.popover-modal{
  width: 235px;
}
.popover-body ul li a {
    padding: 5px;
}
.ticket-big-box .table thead tr th {
    padding: 14px 12px;
    font-size: 12px;
}
.ticket-big-box .table tbody tr td {
    padding: 17px 16px;
    font-size: 12px;
    white-space: normal;
}
.ticket-big-box.recent-ticket-box .box-title .title-text h3 {
    padding: 27px 0px 14px 15px;
}
.ticket-big-box .box-action {
    padding: 23px 23px 0px 0px;
}
.ticket-big-box .box-title .title-text h3 {
    padding: 27px 0px 14px 12px;
}
.clients-list li .client-list-name h4 {
    font-size: 15px;
}
.clients-list li .client-list-name {
    margin-left: 15px;
}
/*.ticket-big-box {
    min-height: auto;
    max-height: inherit;
    height: auto;
}*/
#statisticsChart{
  height: 300px;
}
.header .site-logo img {
    width: 86%;
}
.main-sidebar {
    transform: translate(-230px);
    top: 75px;
}
.main-sidebar, .main-content, .navigation{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.navigation {
    padding: 22px 27px;
    clear: both;
    margin-left: 0px;
    position: relative;
}
.main-sidebar.sidebar-active{
    transform: translate(0px);
    top: 75px;
}
.main-content.sidebar-active{
    transform: translate(230px);
}
.navigation.sidebar-active{
    transform: translate(230px);
}
.main-content {
    margin-left: 0px;
    padding: 25px 30px;
}
.nav-profile .nav-right-item.notification {
    margin-right: 30px;
}
.nav-profile .nav-right-item.notification a {
    font-size: 20px;
}
.nav-profile .nav-right-item.notification .notification-count {
    width: 22px;
    height: 22px;
    font-size: 13px;
    padding: 2px 0px;
}
.nav-profile .nav-right-item.nav-user-profile {
    margin-left: 0px;
    position: relative;
}
.nav-user-profile .nav-user-name h3 {
    font-size: 14px;
    margin: 9px 0px 3px;
}
.nav-user-profile .nav-user-name span {
    font-size: 12px;
}
.nav-profile .nav-right-item.nav-user-profile:before {
    left: -19px;
    display: none;
}
.nav-form form button {
    right: -7px;
}
.nav-form {
    width: 165px;
    display: none;
}
.nav-form form input {
    font-size: 12px;
}
.navigation {
    clear: both;
    margin-left: 0px;
}
.nav-user-profile .nav-user-drop-profile {
    margin-left: 10px;
}
.nav-user-profile .nav-user-name {
    margin-right: 10px;
}
.nav-mobile-menu {
    float: left;
    display: block;
    position: absolute;
    left: 7px;
    top: auto;
    height: 100%;
    top: 0px;
}
.nav-mobile-menu .mb-menu {
    font-size: 24px;
    padding: 28px 25px;
}
.popover-notification .popover-wrapper.right .popover-modal {
    left: -58px;
}

.popover-notification .notification .popover-body ul {
    width: 240px;
}
.popover-notification .popover-wrapper.right .popover-modal:after {
    left: 66px;
    right: auto;
}
.popover-notification .popover-wrapper.right .popover-modal:before {
    display: none;
}
.notif-item .notif-item-r span.close {
    right: 8px;
}
.popover-notification .popover-modal {
    width: 280px;
    height: 300px;
}
.nav-mobile-menu .mb-menu:hover{
  cursor: pointer;
}
.nav-mobile-menu .mb-menu i{
  color: #63788c;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav-mobile-menu .mb-menu i:hover{
  color: #72889e;
}

.header .site-logo {
    width: 100%;
    float: none;
    height: 75px;
    padding: 21px 30px
}
.header {
    height: auto;
}
.nav-profile .nav-right-item.notification {
    display: block;
}
/* SINGLE TICKET PAGE */
.ticket-details{
    margin-bottom: 30px;
}
.ticket-info-body table tbody tr td, .ticket-info-body table tbody tr th {
    /* padding: 20px 10px 15px 15px; */
    font-size: 12px;
}
.up-info-box, .update-status {
    width: 300px;
}
.file-t {
    display: none;
}
.file-name {
    padding: 12px 30px 12px 15px;
    float: left;
}
.ticket-info-buttons{
    text-align: center;
}

.ticket-info-buttons .btn {
    width: 100%;
    display: block;
    margin-bottom: 15px;
}
.ticket-info-buttons .btn:last-child{
    margin-bottom: 0px;
}
.ticket-info-footer {
    padding: 1px 15px 25px;
}
.ticket-title {
    padding: 20px 15px 14px;
}
.inputfile + label {
    padding: 12px 14px;
    top: 111px;
}
.btn {
    padding: 11px 21px;
}
.reply-user-details p.reply-date {
    color: #8198ac;
    font-size: 13px;
}
.reply-message {
    margin-top: 21px;
}
.reply-message p {
    color: #8198ac;
    font-size: 14px;
    line-height: 23px;
}
.reply-user-details h4 a {
    font-size: 17px;
}
.reply-user-details p.user-role {
    font-size: 13px;
}
.single-reply .media-left, .single-reply .media > .pull-left {
    padding-right: 13px;
}
.as-n-s, .as-n-u{
    display: block;
}
.assign-staff-up-box  {
    text-align: left;
}
.up-info-box, .update-status {
    left: -8%;
    text-align: left;
}
.up-info-box .media-body h4 {
    font-size: 17px;
}
.up-info-box .media-body p {
    font-size: 13px;
}

/* SETTINGS PAGE */
.nav > li {
    width: 100%;
}
.nav-tabs > li > a {
    margin-bottom: 10px;
    padding: 14px 36px 13px;
    text-align: center;
}
.form-input {
    width: 100%;
}
.form-required-lable {
    padding-top: 6px;
    font-size: 11px;
}
.settings-tab .btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.settings-tab .inputfile + label {
    width: 65%;
    max-width: 65%;
}
.inputfile.replyfile + label {
    width: 100%;
    max-width: 100%;
    display: block;
    position: initial;
    margin-top: 10px;
}
.form-required-lable.department-fg {
    padding-top: 17px;
}
}

@media (min-width: 480px) and (max-width: 767px){
/*.header .site-logo, .main-content {
  background: blue
}*/ 
.sidebar-menu li.dropdown-active a:after {
    left: -80px;
}

.sidebar-menu li a:after {
    left: -80px;
}
.nav-form {
    width: 270px;
    margin-left: 15px;
}
.main-sidebar, 
.header .site-logo {
    width: 230px;
}
.main-content, .navigation {
    margin-left: 230px;
}
.menu-label {
    padding: 30px 20px 30px 30px;
}
.sidebar-menu li a {
    padding: 22px 20px 30px 25px;
}
.sidebar-menu li.active a {
    padding: 22px 20px 30px 21px;
}
.sidebar-menu li img {
    margin-right: 15px;
}
.sidebar-menu > li:hover > a {
    padding: 22px 20px 30px 21px;
}
.sidebar-menu li .menu-label {
    padding: 1px 9px;
    margin-left: 8px;
    font-size: 12px;
}
.sidebar-dropdown-menu ul li a {
    padding: 22px 10px 22px 30px;
    font-size: 12px;
}
.sidebar-dropdown-menu ul li a i {
    margin-right: 10px;
}
.hide-lg2, .hide-lg3, .hide-lg4{
  display: none;
}


.ticket-big-box .table thead tr th {
    padding: 14px 12px;
    font-size: 12px;
}
.ticket-big-box .table tbody tr td {
    padding: 17px 16px;
    font-size: 12px;

}
.ticket-small-box {
    margin-bottom: 30px;
}
.pending-tickets {
    margin-bottom: 5px;
}
.ticket-big-box.recent-ticket-box .box-title .title-text h3 {
    padding: 27px 0px 14px 15px;
}
.ticket-big-box .box-action {
    padding: 23px 23px 0px 0px;
}
.ticket-big-box .box-title .title-text h3 {
    padding: 27px 0px 14px 12px;
}
.clients-list li .client-list-name h4 {
    font-size: 15px;
}
.clients-list li .client-list-name {
    margin-left: 15px;
}
#statisticsChart{
  height: 415px;
}
.main-sidebar {
    transform: translate(-230px);
    top: 75px;
}
.main-sidebar, .main-content, .navigation{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.main-sidebar.sidebar-active{
    transform: translate(0px);
    top: 75px;
}
.main-content.sidebar-active{
    transform: translate(230px);
}
.navigation.sidebar-active{
    transform: translate(230px);
}
.main-content {
    margin-left: 0px;
}
.nav-profile .nav-right-item.notification {
    margin-right: 30px;
}
.nav-profile .nav-right-item.notification a {
    font-size: 20px;
}
.nav-profile .nav-right-item.notification .notification-count {
    width: 22px;
    height: 22px;
    font-size: 13px;
    padding: 2px 0px;
}
.nav-profile .nav-right-item.nav-user-profile {
    margin-left: 0px;
    position: relative;
}
.nav-user-profile .nav-user-name h3 {
    font-size: 14px;
    margin: 9px 0px 3px;
}
.nav-user-profile .nav-user-name span {
    font-size: 12px;
}
.nav-profile .nav-right-item.nav-user-profile:before {
    left: -19px;
    display: none;
}
.nav-form form button {
    right: -7px;
}
.nav-form {
    width: 165px;
}
.nav-form form input {
    font-size: 12px;
}
.navigation {
    clear: both;
    margin-left: 0px;
}
.nav-user-profile .nav-user-drop-profile {
    margin-left: 10px;
}
.nav-user-profile .nav-user-name {
    margin-right: 10px;
}
.nav-mobile-menu {
    float: left;
    display: block;
    position: absolute;
    left: 0px;
    top: auto;
    height: 100%;
    top: 0px;
}
.nav-mobile-menu .mb-menu {
    font-size: 24px;
    padding: 24px 25px;
}
.nav-mobile-menu .mb-menu:hover{
  cursor: pointer;
}
.nav-mobile-menu .mb-menu i{
  color: #63788c;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav-mobile-menu .mb-menu i:hover{
  color: #72889e;
}
.navigation {
    clear: both;
    margin-left: 0px;
    position: relative;
}
.header .site-logo {
    width: 100%;
    float: none;
    height: 75px;
    padding: 21px 30px
}
.header {
    height: auto;
}
.nav-profile .nav-right-item.notification {
    display: block;
}

/* SINGLE TICKET PAGE */
.ticket-details{
    margin-bottom: 30px;
}

.btn {
    padding: 14px 15px;
}
.ticket-info-body table tbody tr th {
    width: 50%;
}

.ticket-info-body table tbody tr td, .ticket-info-body table tbody tr th {
    /*padding: 20px 10px 15px 15px;*/
}

.ticket-info-buttons{
    text-align: center;
}

.ticket-info-buttons .btn {
    width: 100%;
    display: block;
    margin-bottom: 15px;
}
.ticket-info-buttons .btn:last-child{
    margin-bottom: 0px;
}
.ticket-info-footer {
    padding: 1px 15px 25px;
}
.ticket-title {
    padding: 20px 15px 14px;
}
.assign-staff-up-box  {
    text-align: left;
}
.up-info-box, .update-status{
    left: -65px;
    text-align: left;
}

/* SETTINGS PAGE */
.nav > li {
    width: 100%;
}
.nav-tabs > li > a {
    margin-bottom: 10px;
    padding: 14px 36px 13px;
    text-align: center;
}
.form-input {
    width: 100%;
}
.form-required-lable {
    padding-top: 6px;
}
.settings-tab .inputfile + label, .inputfile.replyfile + label {
    width: 65%;
    max-width: 65%;
}
.form-required-lable.department-fg {
    padding-top: 17px;
}
.header .site-logo img {
     width: initial; 
}
}

@media (min-width: 768px) and (max-width: 979px){
/*.header .site-logo, .main-content {
  background: orange
}*/
.header .site-logo img {
     width: initial; 
}
.sidebar-menu li.dropdown-active a:after {
    left: -80px;
}

.sidebar-menu li a:after {
    left: -80px;
}
.nav-form {
    width: 270px;
    margin-left: 15px;
}
.main-sidebar, 
.header .site-logo {
    width: 230px;
}
.main-content, .navigation {
    margin-left: 230px;
}
.menu-label {
    padding: 30px 20px 30px 30px;
}
.sidebar-menu li a {
    padding: 22px 20px 22px 25px;
}
.sidebar-menu li.active a {
    padding: 22px 20px 22px 25px;
}
.sidebar-menu li img {
    margin-right: 15px;
}
.sidebar-menu > li:hover > a {
    padding: 22px 20px 22px 21px;
}
.sidebar-menu li .menu-label {
    padding: 1px 9px;
    margin-left: 8px;
    font-size: 12px;
}
.sidebar-dropdown-menu ul li a {
    padding: 22px 10px 22px 30px;
    font-size: 12px;
}
.sidebar-dropdown-menu ul li a i {
    margin-right: 10px;
}
.hide-lg2 {
  display: none;
}

.ticket-big-box .table tbody tr td {
    padding: 17px 19px;
}
.ticket-big-box .table thead tr th {
    padding: 14px 14px;
}
.ticket-big-box.recent-ticket-box .box-title .title-text h3 {
    padding: 27px 0px 14px 15px;
}
.ticket-big-box .box-action {
    padding: 23px 23px 0px 0px;
}
.clients-list li .client-list-name h4 {
    font-size: 15px;
}
.clients-list li .client-list-name {
    margin-left: 15px;
}
#statisticsChart{
  height: 415px;
}
.main-sidebar {
    transform: translate(-230px);
    top: 75px;
}
.ticket-small-box {
    margin-bottom: 30px;
}
.pending-tickets {
    margin-bottom: 5px;
}
.main-sidebar, .main-content, .navigation{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.main-sidebar.sidebar-active{
    transform: translate(0px);
    top: 75px;
}
.main-content.sidebar-active{
    transform: translate(230px);
}
.navigation.sidebar-active{
    transform: translate(230px);
}
.main-content {
    margin-left: 0px;
}
.nav-mobile-menu {
    float: left;
    display: block;
    position: absolute;
    left: 0px;
    top: auto;
    height: 100%;
    top: 0px;
}
.nav-mobile-menu .mb-menu {
    font-size: 24px;
    padding: 24px 25px;
}
.nav-mobile-menu .mb-menu:hover{
  cursor: pointer;
}
.nav-mobile-menu .mb-menu i{
  color: #63788c;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav-mobile-menu .mb-menu i:hover{
  color: #72889e;
}
.navigation {
    clear: both;
    margin-left: 0px;
    position: relative;
}
.header .site-logo {
    width: 100%;
    float: none;
    height: 75px;
    padding: 21px 30px
}
.header {
    height: auto;
}


/* SINGLE TICKET PAGE */
.ticket-details{
    margin-bottom: 30px;
}

/* SETTINGS PAGE */
.nav-tabs > li > a {
    font-size: 15px;
    padding: 14px 23px 13px;
    margin-bottom: 12px;
}
.form-input {
    width: 60%;
}

}

@media (min-width: 969px) and (max-width: 1169px){
/*.header .site-logo, .main-content {
  background: red
}*/
.header .site-logo a {
     padding: 2px; 
}
.sidebar-menu li.dropdown-active a:after {
    left: -80px;
}

.sidebar-menu li a:after {
    left: -80px;
}

.nav-form {
    width: 270px;
}
.ticket-small-box {
    margin-bottom: 30px;
}
.pending-tickets {
    margin-bottom: 5px;
}
.main-sidebar, 
.header .site-logo {
    width: 230px;
}
.main-content, .navigation {
    margin-left: 230px;
}
.menu-label {
    padding: 30px 20px 30px 30px;
}
.sidebar-menu li a {
    padding: 23px 20px 30px 25px;
}
.sidebar-menu li.active a {
    padding: 23px 20px 30px 25px;
}
.sidebar-menu li img {
    margin-right: 15px;
}
.sidebar-menu > li:hover > a {
    padding: 23px 20px 30px 25px;
}
.sidebar-menu li .menu-label {
    padding: 1px 9px;
    margin-left: 8px;
    font-size: 12px;
}
.sidebar-dropdown-menu ul li a {
    padding: 22px 10px 22px 30px;
    font-size: 12px;
}
.sidebar-dropdown-menu ul li a i {
    margin-right: 10px;
}
.hide-lg2 {
  display: none;
}

.ticket-big-box .table tbody tr td {
    padding: 17px 19px;
}
.ticket-big-box .table thead tr th {
    padding: 14px 14px;
}
.ticket-big-box.recent-ticket-box .box-title .title-text h3 {
    padding: 27px 0px 14px 15px;
}
.ticket-big-box .box-action {
    padding: 23px 23px 0px 0px;
}
.clients-list li .client-list-name h4 {
    font-size: 15px;
}
.clients-list li .client-list-name {
    margin-left: 15px;
}
#statisticsChart{
  height: 415px;
}


/* SINGLE TICKET PAGE */
.ticket-information{}
.ticket-details{
    margin-bottom: 30px;
}

/* SETTINGS PAGE */
.nav-tabs > li > a {
    font-size: 15px;
    padding: 14px 23px 13px;
    margin-bottom: 12px;
}
.form-input {
    width: 60%;
}

}


@media (min-width: 1170px) and (max-width: 1469px){
/*.header .site-logo, .main-content {
  background: aqua  
}*/

.sidebar-menu li.dropdown-active a:after {
    left: -80px;
}


.main-sidebar, 
.header .site-logo {
    width: 230px;
}
.main-content, .navigation {
    margin-left: 230px;
}
.menu-label {
    padding: 30px 20px 30px 30px;
}
.sidebar-menu li a {
    padding: 24px 20px 24px 25px;
}
.sidebar-menu li.active a {
    padding: 24px 20px 24px 21px;
}
.sidebar-menu li img {
    margin-right: 15px;
}
.sidebar-menu > li:hover > a {
    padding: 24px 20px 24px 21px;
}
.sidebar-menu li .menu-label {
    padding: 1px 9px;
    margin-left: 8px;
    font-size: 12px;
}
.sidebar-dropdown-menu ul li a {
    padding: 22px 10px 22px 30px;
    font-size: 12px;
}
.sidebar-dropdown-menu ul li a i {
    margin-right: 10px;
}
.hide-lg2, .hide-lg3 {
  display: none;
}

.ticket-big-box .table tbody tr td {
    padding: 17px 19px;
}
.ticket-big-box .table thead tr th {
    padding: 14px 14px;
}
.ticket-big-box.recent-ticket-box .box-title .title-text h3 {
    padding: 27px 0px 14px 15px;
}
.sidebar-menu li a:after {
    left: -80px;
}
.header .site-logo a {
     padding: 2px; 
}

/* SINGLE TICKET PAGE */

.ticket-info-buttons{
    text-align: center;
}

.ticket-info-buttons .btn {
    width: 100%;
    display: block;
    margin-bottom: 15px;
}
.ticket-info-buttons .btn:last-child{
    margin-bottom: 0px;
}
.as-n-s, .as-n-u{
    display: block;
}
.assign-staff-up-box  {
    text-align: left;
}
.up-info-box, .update-status {
    left: -65px;
    text-align: left;
}


}

@media (min-width: 1470px) and (max-width: 1769px) {
/*.header .site-logo, .main-content {
  background: #13ff46
}*/

.hide-lg2{
  display: none;
}
.ticket-big-box .table tbody tr td {
    padding: 17px 28px;
}
.ticket-big-box .table thead tr th {
    padding: 14px 25px;
}
.ticket-big-box .box-title .title-text h3 {
    padding: 27px 0px 14px 26px;
}
.ticket-box-row-second .ticket-big-box .table thead tr th {
    padding: 14px 20px;
}
.ticket-box-row-second .ticket-big-box .box-title .title-text h3 {
    padding: 27px 0px 14px 21px;
}


/* SINGLE TICKET PAGE */
.btn {
    padding: 14px 12px;
}
.nav-tabs > li > a {
    padding: 15px 18px 13px;
}
}

@media (min-width: 1770px) {
/*.header .site-logo, .main-content {
  background: white
}*/


}

