@media (max-width: 479px){
/*.auth-form-area .title{
	color: #19fe2f
}*/
.form_half{
    height: 80px;
    float: initial;
    display: block;
    width: 100%;
    position: relative;
}
.form_gcaptha_controllable{
    padding-left: 0px;
}
.inputfile.replyfile + label {
    width: 100%;
    max-width: 100%;
    display: block;
    position: initial;
    margin-top: 10px;
}
.nav > li > a {
    padding: 43px 10px 35px 10px;
}
.ticket-submit-file .inputfile + label {
    max-width: 100%;
}

.g-recaptcha {
    transform: scale(0.77);
    left: -32px;
    margin-left: 0;
    position: relative;
}
.style2 .ticket-submit-file .inputfile + label {
    max-width: 100%;
}
.style2 .google-recaptcha-init {
     padding-left: 0px; 
}

.ticket-submit-file {
    height: 77px;
}
.submit-ticket {
    padding-right: 0px;
}
.common-answers{
	margin-top: 80px;
}

.ticket-form form .form-group {
    margin-bottom: 20px;
}
.navbar-default{
	min-height: 80px
}
.navbar-brand {
    height: 80px;
    padding: 13px 15px;
}
.navbar-brand span{
    height: 50px;
    display: block;
    overflow: hidden;
}
.navbar-toggle {
    margin-top: 23px;
}

.nav > li > a {
    padding: 10px 15px;
}
.heading-text h2 {
    font-size: 22px;
}
.heading-text p {
    font-size: 13px;
}
.ticket-form form .form-control {
    height: 50px;
    font-size: 14px;
    padding: 17px 20px;
}
.ticket-submit-file .inputfile + label {
    font-size: 15px;
    padding: 18px 20px 20px 20px;
    height: 60px;
}
.ticket-form form .btn-submit {
    font-size: 16px;
    padding: 17px 30px;
}
.container{
    padding: 15px;
}

.search-pblm form input[type=text] {
    padding: 15px 58px 15px 15px;
    height: 50px;
}
.search-pblm form button {
    right: 11px;
    top: 14px;
}
.content-area {
    margin-top: 10px;
}
.heading-text {
    margin-top: 20px;
}



.style2 .half_left {
    width: 100%;
    float: initial;
}
.style2 .half_right {
    float: initial;
    width: 100%;
    padding-left: 0px;
}

.auth-form-area {
    padding: 40px 20px;
    width: 100%;
}
.auth-form-area .input-group-addon {
    display: none;
}
.auth-form-area .logo img {
    width: 140px;
}

.auth-form-area .form-control {
    width: 100%;
    height: 50px;
    border-left: 1px solid #233545;
    border-radius: 4px !important;
    margin-bottom: 10px;
}
.input-group {
    display: initial;
    margin-bottom: 15px;
}
.auth-form-area .the-form input[type=submit] {
    padding: 12px 40px;
    font-size: 14px;
}


}

@media (min-width: 480px) and (max-width: 767px){
/*.auth-form-area .title{
    color: green
}*/
.nav > li > a {
    padding: 43px 10px 35px 10px;
}
.ticket-submit-file .inputfile + label {
    max-width: 96%;
}
.ticket-submit-file {
    height: 77px;
}

.common-answers{
	margin-top: 80px;
}

.ticket-form form .form-group {
    margin-bottom: 20px;
}
.navbar-default{
	min-height: 80px
}
.navbar-brand {
    height: 80px;
    padding: 24px 15px;
}
.navbar-toggle {
    margin-top: 23px;
}

.nav > li > a {
    padding: 10px 15px;
}

.form_half {
    width: 100%;
    float: initial;
}
.ticket-submit-file .inputfile + label {
    max-width: 100%;
}
.form_gcaptha_controllable{
    padding-left: 0px;
    margin-top: 20px;
}

.style2 .half_left {
    width: 100%;
    float: initial;
}
.style2 .half_right {
    float: initial;
    width: 100%;
    margin-top: 20px;
    padding-left: 0px;
}
.auth-form-area {
    padding: 40px 50px;
    width: 500px;
}
.auth-form-area .logo img {
    width: 140px;
}
.auth-form-area .form-control {
    width: 90%;
    height: 50px;
}
.input-group{
    margin-left: 10%;
}
.auth-form-area .the-form input[type=submit] {
    padding: 12px 40px;
    font-size: 14px;
}

}

@media (min-width: 768px) and (max-width: 979px){
/*.navbar-default{
	background: #e619fe
}*/
.nav > li > a {
    padding: 43px 10px 35px 10px;
}
.ticket-submit-file .inputfile + label {
    max-width: 96%;
}
.ticket-submit-file {
    height: 77px;
}

.common-answers{
	margin-top: 80px;
}

.ticket-form form .form-group {
    margin-bottom: 20px;
}
.style2 .half_left {
    width: 51%;
}
.style2 .half_right {
    width: 49%;
    padding-left: 25px;
}

.auth-form-area {
    padding: 40px 50px;
}
.auth-form-area .logo img {
    width: 140px;
}


}

@media (min-width: 969px) and (max-width: 1169px){
/*.auth-form-area .title{
	background: #7a19fe
}*/


.form_half {
    width: 100%;
    float: initial;
}
.ticket-submit-file .inputfile + label {
    max-width: 100%;
}
.form_gcaptha_controllable{
    padding-left: 0px;
    margin-top: 20px;
}
.style2 .half_left {
    width: 63%;
}
.style2 .half_right {
    width: 37%;
    padding-left: 25px;
}
.auth-form-area {
    padding: 40px 50px;
}
}


@media (min-width: 1170px) and (max-width: 1469px){
/*.auth-form-area .title{
	color: #1954fe
}*/
.auth-form-area {
    padding: 50px;
}

}

@media (min-width: 1470px) {
/*.auth-form-area .title{
	color: #19b5fe
}*/

}

